header {
  width: 100%;
  position: fixed;
  z-index: 99999;
  background-color: white;
}
.header__menu-container {
  width: 100%;
  height: 98px;
  display: grid;
  padding: 20px 20px 10px 20px;
  grid-template-columns: 0.2fr 5fr 1fr;
  .header__logo {
    font-size: 3rem;
    text-align: center;
    color: #2a8947;
  }
}

.header__info-container {
  .header__title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .header__menu-bar {
    display: flex;
    .header__menu {
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      border-radius: 5px;
    }
    .header__menu:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .nav-btn {
    margin-right: 20px;
  }
  .btn-comment {
    font-size: 1.5rem;
    color: #2a8947;
  }
  .btn-share {
    font-size: 1rem;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    background-color: #2a8947;
    color: white;
  }

  .btn-user {
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-right: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
  }
}
