table {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: none;
  font-size: 0.8rem;
}
td {
  border: 1px solid rgba(0, 0, 0, 0.3);
  min-width: 102px;
  min-height: 22px;
  width: 102px;
  height: 22px;
  line-height: 22px;
  input {
    border: none;
    width: 100%;
    height: 22px;
    padding: 3px;
    margin: 0px;
    cursor: default;
  }
}
td:not(.column-index):focus-within,
td:not(.row-index):focus-within {
  border: 2px solid blue;
}
td:first-child {
  min-width: 46px;
}
.column-index > td,
.row-index {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  height: 26px;
  text-align: center;
  font-weight: 600;
  line-height: 26px;
}

.selected {
  background-color: rgb(199, 199, 255);
}
